In [1]:
import pandas as pd

In [2]:
groceries = pd.Series(data = [30,6,'Yes','No'], index = ['eggs','apples','milk','bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [3]:
groceries.shape

(4,)

In [4]:
groceries.ndim

1

In [5]:
groceries.size

4

In [6]:
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

In [7]:
'banana' in groceries

False

In [8]:
groceries['eggs']

30

In [9]:
groceries[['milk','eggs']]

milk    Yes
eggs     30
dtype: object

In [10]:
groceries[0]

30

In [11]:
groceries[-1]

'No'

In [12]:
groceries[0:2]

eggs      30
apples     6
dtype: object

In [13]:
groceries.loc[['eggs','apples']]

eggs      30
apples     6
dtype: object

In [14]:
groceries['eggs']=2

In [15]:
groceries.drop('apples')

eggs       2
milk     Yes
bread     No
dtype: object

In [16]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [17]:
groceries.drop('apples',inplace=True)
groceries

eggs       2
milk     Yes
bread     No
dtype: object

# arithmatic

In [20]:
fruits = pd.Series([10,6,3],['apple','oranges','bananas'])
fruits

apple      10
oranges     6
bananas     3
dtype: int64

In [21]:
fruits+2

apple      12
oranges     8
bananas     5
dtype: int64

In [22]:
fruits*2

apple      20
oranges    12
bananas     6
dtype: int64

In [23]:
fruits-2

apple      8
oranges    4
bananas    1
dtype: int64

In [24]:
fruits%2

apple      0
oranges    0
bananas    1
dtype: int64

In [25]:
import numpy as np

In [26]:
np.power(fruits,2)

apple      100
oranges     36
bananas      9
dtype: int64

In [27]:
fruits.iloc[0] - 2

8

In [28]:
fruits[['apples','oranges']]/2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

apples     NaN
oranges    3.0
dtype: float64