# load the libraries

In [3]:
import pandas as pd
import chardet

# Load the data

In [7]:
# detect file encoding
with open("2011 Stack Overflow Survey Results/2011 Stack Overflow Survey Results.csv","rb") as file:
    print(chardet.detect(file.read()))

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [43]:
df11 = pd.read_csv("2011 Stack Overflow Survey Results.csv", encoding = 'ISO-8859-1')
df12 = pd.read_csv("2012 Stack Overflow Survey Results.csv", encoding = 'ISO-8859-1')
df13 = pd.read_csv("2013 Stack Overflow Survey Responses.csv", encoding = 'ISO-8859-1')
df14 = pd.read_csv("2014 Stack Overflow Survey Responses.csv", encoding = 'ISO-8859-1')
df15 = pd.read_csv("2015 Stack Overflow Developer Survey Responses.csv",skiprows=1, encoding = 'ISO-8859-1')
df16 = pd.read_csv("2016 Stack Overflow Survey Responses.csv", encoding = 'ISO-8859-1')
df17 = pd.read_csv("developer_survey_2017/survey_results_public.csv", encoding = 'ISO-8859-1')
df18 = pd.read_csv("developer_survey_2018/survey_results_public.csv", encoding = 'ISO-8859-1')
df19 = pd.read_csv("developer_survey_2019/survey_results_public.csv", encoding = 'ISO-8859-1')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (5,108,121,196,197,198) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df11.shape

(2814, 65)

In [26]:
df12.shape

(6244, 75)

In [27]:
df13.shape

(9743, 128)

In [28]:
df14.shape

(7644, 120)

In [29]:
df15.shape

(26087, 222)

In [30]:
df16.shape

(56030, 66)

In [31]:
df17.shape

(51392, 154)

In [32]:
df18.shape

(98855, 129)

In [33]:
df19.shape

(88883, 85)

In [44]:
dfs = [df11, df12, df13, df14, df15, df16, df17, df18, df19]

In [45]:
df11.describe()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?
count,2814,1030,2730,2730,2730,2647,2647,2611,1362,1497,...,117,395,502,377,598,825,315,219,2506,2533
unique,20,52,9,5,13,7,14,6,1,1,...,1,1,1,1,1,1,1,148,8,8
top,United States of America,California,25-29,11,Software Products,Start Up (1-25),Web Application Developer,It's been known to happen,Influencer,Recommender,...,AppleTV,iPad,Other netbook,PS3,Xbox,Wii,Other gaming system,iPod Touch,"$1,001-$2,000",Stack Overflow
freq,1037,122,831,1044,814,745,1066,1060,1362,1497,...,117,395,502,377,598,825,315,27,569,2230

In [46]:
for df in dfs:
    print("-------------------------------------------------------------------------------")
    print(df.columns)

-------------------------------------------------------------------------------
Index(['What Country or Region do you live in?',
       'Which US State or Territory do you live in?', 'How old are you?',
       'How many years of IT/Programming experience do you have?',
       'How would you best describe the industry you work in?',
       'Which best describes the size of your company?',
       'Which of the following best describes your occupation?',
       'How likely is it that a recommendation you make will be acted upon?',
       'What is your involvement in purchasing? You can choose more than 1.',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14',
       'What types of purchases are you involved in?', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'What type of project are you developing?',
       'Which languages are you proficient in?', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42',
       'What operating system do you use the most?',
       'Please rate your job/career satisfaction',
       'Including bonus, what is your annual compensation in USD?',
       'Which technology products do you own? (You can choose more than one)',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'In the last 12 months, how much money have you spent on personal technology-related purchases? ',
       'Which of our sites do you frequent most?'],
      dtype='object')
-------------------------------------------------------------------------------
Index(['What Country or Region do you live in?',
       'Which US State or Territory do you live in?', 'How old are you?',
       'How many years of IT/Programming experience do you have?',
       'How would you best describe the industry you currently work in?',
       'Which best describes the size of your company?',
       'Which of the following best describes your occupation?',
       'What is your involvement in purchasing products or services for the company you work for? (You can choose more than one)',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'What types of purchases are you involved in?',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19',
       'What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?',
       'What type of project are you developing?',
       'Which languages are you proficient in?', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Which desktop operating system do you use the most?',
       'What best describes your career / job satisfaction? ',
       'Including bonus, what is your annual compensation in USD?',
       'Have you visited / Are you aware of Stack Overflow Careers?',
       'Do you have a Stack Overflow Careers Profile?',
       'You answered you don't have a Careers profile, can you elaborate why?',
       'Unnamed: 43',
       'Which technology products do you own? (You can choose more than one)',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'In the last 12 months, how much money have you spent on personal technology-related purchases? ',
       'Please rate the advertising you've seen on Stack Overflow',
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70',
       'What advertisers do you remember seeing on Stack Overflow?',
       'What is your current Stack Overflow reputation?',
       'Which of our sites do you frequent most?', 'Unnamed: 74'],
      dtype='object')
-------------------------------------------------------------------------------
Index(['What Country or Region do you live in?',
       'Which US State or Territory do you live in?', 'How old are you?',
       'How many years of IT/Programming experience do you have?',
       'How would you best describe the industry you currently work in?',
       'How many people work for your company?',
       'Which of the following best describes your occupation?',
       'Including yourself, how many developers are employed at your company?',
       'How large is the team that you work on?',
       'What other departments / roles do you interact with regularly?',
       ...
       'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121',
       'What advertisers do you remember seeing on Stack Overflow?',
       'What is your current Stack Overflow reputation?',
       'How do you use Stack Overflow?', 'Unnamed: 125', 'Unnamed: 126',
       'Unnamed: 127'],
      dtype='object', length=128)
-------------------------------------------------------------------------------
Index(['What Country do you live in?', 'Unnamed: 1',
       'Which US State or Territory do you live in?', 'How old are you?',
       'What is your gender?',
       'How many years of IT/Programming experience do you have?',
       'Which of the following best describes your occupation?',
       'Including bonus, what is your annual compensation in USD?',
       'How would you best describe the industry you currently work in?',
       'How many developers are employed at your company?',
       ...
       'Did you participate in the Apptivate contest?',
       'What advertisers do you remember seeing on Stack Overflow?',
       'What is your current Stack Overflow reputation?',
       'How do you use Stack Overflow?', 'Unnamed: 114', 'Unnamed: 115',
       'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118',
       'How often do you find solutions to your programming problems on Stack Overflow without asking a new question?'],
      dtype='object', length=120)
-------------------------------------------------------------------------------
Index(['Country', 'Age', 'Gender', 'Tabs or Spaces',
       'Years IT / Programming Experience', 'Occupation',
       'Desktop Operating System', 'Desktop Operating System: write-in',
       'Current Lang & Tech: Android', 'Current Lang & Tech: Arduino',
       ...
       'Why use Stack Overflow: I don't use Stack Overflow',
       'How often are Stack Overflow's answers helpful',
       'Why answer: Help a programmer in need',
       'Why answer: Help future programmers',
       'Why answer: Demonstrate expertise', 'Why answer: Self promotion',
       'Why answer: Sense of responsibility to developers',
       'Why answer: No idea', 'Why answer: I don't answer and I don't want to',
       'Why answer: I don't answer but I want to'],
      dtype='object', length=222)
-------------------------------------------------------------------------------
Index(['Unnamed: 0', 'collector', 'country', 'un_subregion', 'so_region',
       'age_range', 'age_midpoint', 'gender', 'self_identification',
       'occupation', 'occupation_group', 'experience_range',
       'experience_midpoint', 'salary_range', 'salary_midpoint',
       'big_mac_index', 'tech_do', 'tech_want', 'aliens',
       'programming_ability', 'employment_status', 'industry',
       'company_size_range', 'team_size_range', 'women_on_team', 'remote',
       'job_satisfaction', 'job_discovery', 'dev_environment',
       'commit_frequency', 'hobby', 'dogs_vs_cats', 'desktop_os',
       'unit_testing', 'rep_range', 'visit_frequency', 'why_learn_new_tech',
       'education', 'open_to_new_job', 'new_job_value', 'job_search_annoyance',
       'interview_likelihood', 'how_to_improve_interview_process',
       'star_wars_vs_star_trek', 'agree_tech', 'agree_notice',
       'agree_problemsolving', 'agree_diversity', 'agree_adblocker',
       'agree_alcohol', 'agree_loveboss', 'agree_nightcode', 'agree_legacy',
       'agree_mars', 'important_variety', 'important_control',
       'important_sameend', 'important_newtech', 'important_buildnew',
       'important_buildexisting', 'important_promotion',
       'important_companymission', 'important_wfh', 'important_ownoffice',
       'developer_challenges', 'why_stack_overflow'],
      dtype='object')
-------------------------------------------------------------------------------
Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize',
       ...
       'StackOverflowMakeMoney', 'Gender', 'HighestEducationParents', 'Race',
       'SurveyLong', 'QuestionsInteresting', 'QuestionsConfusing',
       'InterestedAnswers', 'Salary', 'ExpectedSalary'],
      dtype='object', length=154)
-------------------------------------------------------------------------------
Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Exercise', 'Gender', 'SexualOrientation', 'EducationParents',
       'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=129)
-------------------------------------------------------------------------------
Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [50]:
df11['What Country or Region do you live in?'].value_counts()

United States of America    1037
Other Europe                 451
United Kingdom               314
Canada                       156
Australia                    112
Germany                      106
India                         95
South America                 91
Other Asia                    81
Middle East                   73
France                        60
Netherlands                   55
Africa                        43
Russia                        41
Italy                         35
Australasia                   29
Mexico                        20
North America (Other)          8
Central America                6
Response                       1
Name: What Country or Region do you live in?, dtype: int64

In [51]:
df12['What Country or Region do you live in?'].value_counts()

United States of America    1785
Other Europe                1168
United Kingdom               589
India                        537
Canada                       348
Germany                      273
Other Asia                   221
Australia                    185
South America                182
Russia                       162
Netherlands                  136
France                       135
Middle East                  124
Italy                        110
Australasia                  105
Africa                        92
Mexico                        32
North America (Other)         23
Central America               21
Bangladesh                    15
Response                       1
Name: What Country or Region do you live in?, dtype: int64

In [52]:
df13['What Country or Region do you live in?'].value_counts()

United States of America    3181
Other Europe                1626
United Kingdom               935
India                        737
Germany                      583
Canada                       490
Other Asia                   367
Australia                    246
Russia                       241
France                       232
South America                225
Netherlands                  207
Middle East                  198
Italy                        151
Australasia                  118
Africa                       115
Mexico                        29
North America (Other)         26
Bangladesh                    17
Central America               17
Response                       1
Name: What Country or Region do you live in?, dtype: int64

In [56]:
df14['What Country do you live in?'].value_counts()

United States             2128
India                      881
United Kingdom             721
Germany                    455
Canada                     306
France                     198
Australia                  182
Russia                     166
Netherlands                154
Poland                     131
Italy                      125
Israel                     117
Sweden                      99
Spain                       97
Brazil                      96
Switzerland                 83
Ukraine                     69
Turkey                      68
Austria                     66
Romania                     63
Belgium                     62
Denmark                     56
China                       54
Ireland                     53
Greece                      48
Pakistan                    48
Finland                     47
New Zealand                 46
Czech Republic              46
Bulgaria                    42
                          ...
Tunisia                      8
Dominican Republic           8
Other                        8
Jordan                       7
Georgia                      7
Nepal                        6
Morocco                      6
Uruguay                      6
Bosnia and Herzegovina       6
Kazakhstan                   6
Bolivia                      5
Iceland                      5
Moldova                      5
Venezuela                    5
Ecuador                      4
Myanmar [Burma]              4
Malta                        4
Palestine                    3
Costa Rica                   3
Cyprus                       3
Puerto Rico                  3
Kuwait                       2
Ghana                        2
El Salvador                  2
Guatemala                    2
Cambodia                     2
Luxembourg                   2
Nigeria                      1
Kenya                        1
Response                     1
Name: What Country do you live in?, Length: 97, dtype: int64

In [59]:
df15['Country'].value_counts()

United States             4745
India                     2461
United Kingdom            2403
Germany                   1976
Poland                     833
Canada                     828
France                     776
Russian Federation         650
Australia                  618
Netherlands                614
Spain                      605
Sweden                     540
Italy                      506
Switzerland                393
Brazil                     367
Austria                    300
Denmark                    278
Iran                       264
Belgium                    263
China                      252
Czech Republic             243
Finland                    242
Portugal                   224
Ukraine                    222
Turkey                     220
Ireland {Republic}         193
Israel                     192
Romania                    185
Mexico                     179
Hungary                    169
                          ...
Laos                         3
Tanzania                     2
Brunei                       2
Turkmenistan                 2
Bhutan                       2
Somalia                      2
Haiti                        2
Bahamas                      2
Kosovo                       2
Namibia                      2
Oman                         2
Mauritania                   1
Liechtenstein                1
Vatican City                 1
Mozambique                   1
Djibouti                     1
South Sudan                  1
Solomon Islands              1
Rwanda                       1
Senegal                      1
Congo {Democratic Rep}       1
Botswana                     1
Sierra Leone                 1
San Marino                   1
Burkina                      1
Zambia                       1
Togo                         1
Tajikistan                   1
Benin                        1
Vanuatu                      1
Name: Country, Length: 156, dtype: int64

In [61]:
df16['country'].value_counts()

United States          13539
United Kingdom          4573
India                   4193
Germany                 3883
Canada                  2024
Poland                  1971
France                  1626
Russian Federation      1419
Sweden                  1328
Netherlands             1188
Italy                   1137
Australia               1117
Spain                   1026
Brazil                  1015
Romania                  942
Ukraine                  802
Denmark                  606
Switzerland              574
Belgium                  543
Portugal                 496
Austria                  482
South Africa             479
Turkey                   445
Mexico                   444
Finland                  440
Israel                   439
Ireland {Republic}       427
Greece                   393
Czech Republic           372
Iran                     372
                       ...
Benin                      2
Bhutan                     2
Vatican City               2
Zambia                     2
Monaco                     1
Grenada                    1
Rwanda                     1
Seychelles                 1
Burundi                    1
San Marino                 1
Vanuatu                    1
Sao Tome & Principe        1
Burkina                    1
Mauritania                 1
Gabon                      1
Palau                      1
Togo                       1
Tajikistan                 1
Central African Rep        1
Mozambique                 1
Antarctica                 1
East Timor                 1
Dominica                   1
Guinea                     1
Chad                       1
Sierra Leone               1
Niger                      1
St Kitts & Nevis           1
Oman                       1
Somalia                    1
Name: country, Length: 175, dtype: int64

In [63]:
df17['Country'].value_counts()

United States                     11455
India                              5197
United Kingdom                     4395
Germany                            4143
Canada                             2233
France                             1740
Poland                             1290
Australia                           913
Russian Federation                  873
Spain                               864
Netherlands                         855
Italy                               781
Brazil                              777
Sweden                              611
Switzerland                         595
Israel                              575
Romania                             561
Iran                                507
Austria                             477
Pakistan                            454
Czech Republic                      411
Belgium                             404
South Africa                        380
Turkey                              363
Ukraine                             356
Mexico                              351
Ireland                             345
Hungary                             332
Philippines                         328
Slovenia                            303
                                  ...
Polynesia (French)                    2
Saint Lucia                           2
Monaco                                1
Saint Helena                          1
Djibouti                              1
Cook Islands                          1
Northern Mariana Islands              1
Montserrat                            1
Christmas Island                      1
S. Georgia & S. Sandwich Isls.        1
Pitcairn Island                       1
Guam                                  1
Falkland Islands                      1
French Guyana                         1
Bahamas                               1
Mali                                  1
Guinea                                1
Cape Verde                            1
Lesotho                               1
Turkmenistan                          1
Gibraltar                             1
Vatican City State                    1
Comoros                               1
Seychelles                            1
Macau                                 1
Gabon                                 1
Burkina Faso                          1
Chad                                  1
Heard and McDonald Islands            1
British Indian Ocean Territory        1
Name: Country, Length: 201, dtype: int64

In [64]:
df18['Country'].value_counts()

United States                            20309
India                                    13721
Germany                                   6459
United Kingdom                            6221
Canada                                    3393
Russian Federation                        2869
France                                    2572
Brazil                                    2505
Poland                                    2122
Australia                                 2018
Netherlands                               1841
Spain                                     1769
Italy                                     1535
Ukraine                                   1279
Sweden                                    1164
Pakistan                                  1050
China                                     1037
Switzerland                               1010
Turkey                                    1004
Israel                                    1003
Iran, Islamic Republic of...               921
Romania                                    793
Austria                                    788
Czech Republic                             784
Belgium                                    743
Mexico                                     736
Bangladesh                                 697
Denmark                                    653
South Africa                               637
Indonesia                                  630
                                         ...
North Korea                                  4
Swaziland                                    3
Liberia                                      3
Mauritania                                   3
Guinea                                       3
Cape Verde                                   3
Central African Republic                     2
Dominica                                     2
Guyana                                       2
Palau                                        2
Lesotho                                      2
Suriname                                     2
Micronesia, Federated States of...           2
Democratic People's Republic of Korea        2
Niger                                        2
Marshall Islands                             2
Djibouti                                     1
Belize                                       1
Brunei Darussalam                            1
Timor-Leste                                  1
Eritrea                                      1
Nauru                                        1
Solomon Islands                              1
Sierra Leone                                 1
Mali                                         1
Guinea-Bissau                                1
San Marino                                   1
Burundi                                      1
Grenada                                      1
Saint Lucia                                  1
Name: Country, Length: 183, dtype: int64

In [65]:
df19['Country'].value_counts()

United States                            20949
India                                     9061
Germany                                   5866
United Kingdom                            5737
Canada                                    3395
France                                    2391
Brazil                                    1948
Poland                                    1922
Australia                                 1903
Netherlands                               1852
Russian Federation                        1694
Spain                                     1604
Italy                                     1576
Sweden                                    1274
Switzerland                                978
Israel                                     952
Turkey                                     949
Pakistan                                   923
Ukraine                                    868
Austria                                    839
Czech Republic                             764
Romania                                    760
Iran                                       738
Belgium                                    727
China                                      664
Bulgaria                                   659
Mexico                                     642
South Africa                               627
Denmark                                    617
Bangladesh                                 605
                                         ...
Lesotho                                      3
Cape Verde                                   3
Guyana                                       3
Liechtenstein                                3
Belize                                       3
Lao People's Democratic Republic             3
Mali                                         3
Barbados                                     3
Bahamas                                      3
Democratic People's Republic of Korea        3
Guinea                                       3
Djibouti                                     2
San Marino                                   2
Malawi                                       2
Liberia                                      2
Seychelles                                   2
Bhutan                                       2
Sierra Leone                                 2
Gabon                                        2
Chad                                         1
Brunei Darussalam                            1
Tonga                                        1
Saint Vincent and the Grenadines             1
Timor-Leste                                  1
Sao Tome and Principe                        1
Niger                                        1
Saint Kitts and Nevis                        1
North Korea                                  1
Dominica                                     1
Papua New Guinea                             1
Name: Country, Length: 179, dtype: int64